# Chart
### Import Libraries and Set Up Database Connection

In [6]:
from sqlalchemy import create_engine, text
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

db_url = "postgresql+psycopg2://mdesmart:mysecretpassword@localhost:5432/piscineds"
engine = create_engine(db_url)

### Execute the Query

In [21]:
query = text("""
SELECT
    TO_CHAR(event_time, 'Month') AS month,
    COUNT(*) AS count
FROM
    customers
WHERE
    event_type = 'purchase' AND
    EXTRACT(MONTH FROM event_time) IN (10, 11, 12, 1, 2)
GROUP BY
    TO_CHAR(event_time, 'Month')
ORDER BY
    EXTRACT(MONTH FROM TO_DATE(TO_CHAR(event_time, 'Month'), 'Month'));
""")

with engine.connect() as connection:
    result = connection.execute(query)
    df = pd.DataFrame(result.fetchall(), columns=result.keys())

df.head()

# sns.displot(df, x="month", kind="kde")

       month   count
0  January    263605
1  February   241816
2  October    245277
3  November   322269
4  December   213060